.theme-btn{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.theme-btn:hover{
    cursor: pointer;
    /* font-size: 1.25; */
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

.theme-icon{
    filter: var(--icon-bg)
}

.theme-text{
    font-weight: bold;
    color: var(--text-color);
}

.theme-icon-container{
    width: 1rem;
}