.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    background-color: var(--bg-color-element);
    box-shadow: var(--shadow);
}

.header_text{
    font-size: 1.25rem;
    font-weight: bold;
}

@media screen and (min-width:32rem) {

    .header{
        padding: 2rem 5%;
    }
}